/* FONT STYLES */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
$font-stack: 'Nunito Sans', sans-serif;

/* COLOR STYLES */
$BackDM-darkerBlue: hsl(207, 26%, 17%);
$ElementsDM-darkBlue: hsl(209, 23%, 22%);
$TextDM-white:hsl(0, 0%, 100%);

$BackLM-lighterGray: hsl(0, 0%, 98%);
$InputLM-darkGray: hsl(0, 0%, 52%);
$ElementsLM-white: hsl(0, 0%, 100%);
$TextLM-darkerBlue: hsl(200, 15%, 8%);

