%flex-setup{
    display: flex;
    /* flex-flow: row wrap;
    justify-content: space-between; */
    align-items: center;
}

%input-form-style{
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .1);
}