article{
    @extend %flex-setup;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 2em;

    > li {
        list-style-type: none;
        min-width: 200px;
        margin: 2em 1em;
        border-radius: 5px;
        box-shadow: 0 0 10px 6px rgba(0, 0, 0, .1);
        cursor: pointer;

        img{
            width: 100%;
        }

        .country_specs{
            padding: 1em;

            h3{
                margin-top: 1em;
                margin-bottom: 1em;
                text-transform: capitalize;
                text-align: center;
            }
            
            p{
                margin-top: .3em;
                margin-bottom: .3em;
            }
        }
    }
}

@media screen and (min-width: 700px){

    article{
        flex-flow: row wrap;

        > li{
            max-width: 280px;
        }
    }
}