button{
    @extend %input-form-style;
    margin-left: 2em;
    padding: .6em 2em;
    cursor: pointer;
}

.country_detail{
    @extend %flex-setup;
    flex-flow: column wrap;
    justify-content: center;
    padding: 2em;

    >div:first-child{
        min-width: 300px;
        width: 100%;
        max-width: 500px;       
    }

    img{
        width: 100%;
    }

    .country_specs{
        min-width: 200px;
        width: 100%;
        max-width: 550px;
        margin-top: 2em;

        h2{ 
            margin-bottom: 1em;
            text-transform: capitalize;
        }

        > div{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: flex-start;

            p{
                margin: .2em 0;
            }
        }

        .border_countries{
            display: flex;
            flex-flow: row wrap;
            margin-top: 1.5em;

            span{
                display: inline-block;
                padding: .2em .6em;
                margin: .5em;
                box-shadow: 0 0 3px 1px gray;
            }
        }
    }
}


@media screen and (min-width: 700px){

    
    .country_detail{
        flex-flow: row wrap;
        justify-content: center;

        >div:first-child{
            width: 50%;
        }
        
        .country_specs{
            width: 45%;
            margin-left: 3%;
            padding: 1.5em;
        }
    }
}




