@import './../base';
@import './../utilities';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a, a:active, a:hover, a:visited{
    text-decoration: none;
}


body{
    font-family: $font-stack;
    font-size: 80%;
    margin-top: 8em;
    letter-spacing: 1px;
    transition: all .1s linear;

    /* LIGHT MODE COLORS */

    background-color: $BackLM-lighterGray;
    color: $TextLM-darkerBlue;

    a, a:active, a:hover, a:visited{
        color: $TextLM-darkerBlue;
    }

    header{
        background-color: $ElementsLM-white;

        .switch_theme::after{
            background-color: $TextLM-darkerBlue;
        }

        .switch_theme:hover{
            background-color: $ElementsDM-darkBlue;
            color: $TextDM-white;

            i{
                color: $TextDM-white;  
            }
        }
    }

    nav div, i, input[type="search"], input::placeholder, select, button{
        background-color: $ElementsLM-white;
        color: gray;
    }

    article {
        
        >div{
            background-color: $ElementsLM-white;
        }
    }
}

/*-- DARK MODE COLORS --*/
.dark_mode{
    background-color: $BackDM-darkerBlue;
    color: $TextDM-white;

    a, a:active, a:hover, a:visited{
        color: $TextDM-white;
    }

    header{
        background-color: $ElementsDM-darkBlue;

        .switch_theme::after{
            background-color: $ElementsLM-white;
        }

        .switch_theme:hover{
            background-color: $ElementsLM-white;
            color: $ElementsDM-darkBlue;

            i{
                color: $ElementsDM-darkBlue;
            }
        }
    }

    nav div, i, input[type="search"], input::placeholder, select, button{
        background-color: $ElementsDM-darkBlue;
        color: $TextDM-white;
    }

    article {
        
        >div{
            background-color: $ElementsDM-darkBlue;
        }
    }
}



@media screen and (min-width: 700px){

    body{
        font-size: 88%;
    }

    .container{
        margin: 0 auto;
        width: 100%;
        max-width: 1440px;
    }
}