nav{
    @extend %flex-setup;
    padding: 2em;
    flex-flow: row wrap;
    justify-content: space-between;

    > div{
        display: inline-flex;
        align-items: center;
        @extend %input-form-style;
        width: 100%;
        max-width: 450px;
        padding: 0 2em;
        margin-bottom: 2em;
    }

    input[type="search"]{
        border: none;
        padding: 1em;
        width: 100%;
        outline: none;
        border-radius: 5px;
    }

    select{
        @extend %input-form-style;
        padding: 1em 2em;
        outline: none;
    }
}

@media screen and (min-width: 700px){

    nav {

        > div {
            width: 45%;
            margin-bottom: 0;
        }
    }
}